<div class="col-6 mx-auto p-2 m-2" *ngIf="storageservice.role=='admin'">
  <input type="number" placeholder="Enter Customer ID" [(ngModel)]="userId" class="form-control" />
  <input type="button" value="Search" (click)="viewbyid()" class="btn btn-info" />
</div>
<section>
  <div *ngIf="msg!=undefined" class="alert alert-danger">{{msg}}</div>
  <table class="table table-primary table-striped table-hover" *ngIf="customers!=undefined">
    <tr>
      <td>Customer ID</td>
      <td>{{customers.userId}}</td>
    </tr>

    <tr>
      <td>Customer Name</td>
      <td>{{customers.name | titlecase}}</td>
    </tr>

    <tr>
      <td>Customer Email</td>
      <td>{{customers.email}}</td>
    </tr>

    <tr>
      <td>Customer Contact NO</td>
      <td>{{customers.contactNo}}</td>
    </tr>

    <tr>
      <td>Date of Birth</td>
      <td>{{customers.dob}}</td>
    </tr>

    <tr>
      <td>Door No</td>
      <td>{{customers.doorNo}}</td>
    </tr>

    <tr>
      <td>Street</td>
      <td>{{customers.street}}</td>
    </tr>

    <tr>
      <td>Area</td>
      <td>{{customers.area}}</td>
    </tr>

    <tr>
      <td>City</td>
      <td>{{customers.city}}</td>
    </tr>

    <tr>
      <td>State</td>
      <td>{{customers.state}}</td>
    </tr>

    <tr>
      <td>Pincode</td>
      <td>{{customers.pincode}}</td>
    </tr>

  </table>
</section>