<!-- <article class="row col-10 mx-auto" [ngStyle]="{height:'400px'}">
  <section class="col-3 bg-info p-2 m-2">
    <div><input type="button" class="btn btn-warning m-2 w-50" value="viewbyid" routerLink="/viewbankacc/byid"/></div>
  
  </section>
  <section class="col-6 p-2 m-2">
    <h2>Bank Details</h2>
    <router-outlet></router-outlet>
  </section>
</article> -->

<article>
  <h2 class="mx-auto text-center">Bank Details</h2>
  <section class="col-6 p-2 m-2 mx-auto">
    <router-outlet></router-outlet>
  </section>
</article>