<article class="m-4 mx-auto">
  <h2 class="mx-auto text-center">Appointment Details</h2>
  <nav class="col-6 p-2 mx-auto" *ngIf="storageservice.loginflag" id="child">
      <a routerLink="/viewappointment/byscheduleid" class="m-2 text-dark" *ngIf="storageservice.role=='admin'">View Appointment By Schedule Id</a>
      <a routerLink="/viewappointment/bycustid" class="m-2 text-dark" *ngIf="storageservice.role=='admin'">View Appointment By Customer Id</a>
  </nav>
  <section class="col-6 p-2 mx-auto" style="margin-top: 100px">
    <router-outlet></router-outlet>
  </section>
</article>
