<!-- <article class="row col-10 mx-auto" [ngStyle]="{height:'400px'}">
  <section class="col-3 bg-info p-2 m-2">
    <div><input type="button" class="btn btn-warning m-2 w-30" value="View By Schedule ID" routerLink="/viewappointment/byscheduleid"/></div>
    <div><input type="button" class="btn btn-warning m-2 w-30" value="View By Customer ID" routerLink="/viewappointment/bycustid"/></div>
  </section>
  <section class="col-6 p-2 m-2">
    <h2>View Appointment</h2>
    <router-outlet></router-outlet>
  </section>
</article> -->

<article>
  <h2 class="mx-auto text-center">Appointment Details</h2>
  <nav class="col-5 bg-dark p-2 m-2 mx-auto" *ngIf="storageservice.loginflag">
      <a routerLink="/viewappointment/byscheduleid" class="m-2 text-white" *ngIf="storageservice.role=='admin'">ViewAppointmentByScheduleId</a>
      <a routerLink="/viewappointment/bycustid" class="m-2 text-white" *ngIf="storageservice.role=='admin'">ViewAppointmentByCustId</a>
  </nav>
  <section class="col-6 p-2 m-2 mx-auto">
    <router-outlet></router-outlet>
  </section>
</article>