<article class="row col-10 mx-auto" [ngStyle]="{height:'400px'}">
  <section class="col-3 bg-info p-2 m-2">
    <div><input type="button" class="btn btn-warning m-2 w-30" value="View By Schedule ID" routerLink="/viewappointment/byscheduleid"/></div>
    <div><input type="button" class="btn btn-warning m-2 w-30" value="View By Customer ID" routerLink="/viewappointment/bycustid"/></div>
  </section>
  <section class="col-6 p-2 m-2">
    <h2>View Appointment</h2>
    <router-outlet></router-outlet>
  </section>
</article>