<article class="m-4 mx-auto">
  <h2 class="mx-auto text-center" id="heading">View Salon Service</h2>
  <nav class="col-5 p-2 mx-auto" *ngIf="storageservice.loginflag && storageservice.role=='admin'" id="child">
    <a routerLink="/viewsalonservice/byid" class="m-2 text-dark">View By Service Id</a>
    <a routerLink="/viewsalonservice/byname" class="m-2 text-dark">View By Salon Service Name</a>
  </nav>
  <section class="col-6 p-2 mx-auto" style="margin-top: 100px">
    <router-outlet></router-outlet>
  </section>
</article>