<article class="row col-10 mx-auto" [ngStyle]="{height:'400px'}">
  <section class="col-3 bg-info p-2 m-2">
    <div><input type="button" class="btn btn-warning m-2 w-60" value="ViewServiceById" routerLink="/viewsalonservice/byid"/></div>
    <div><input type="button" class="btn btn-warning m-2 w-60" value="ViewSalonServiceByName" routerLink="/viewsalonservice/byname"/></div>
    
  </section>
  <section class="col-6 p-2 m-2 mx-auto">
    <h2>View Salon Service</h2>
    <router-outlet></router-outlet>
  </section>
</article>
