<section class="col-4 mx-auto card card-primary m-1 p-1">
  <h2 class="text-center">Edit Appointment</h2>
  <div class="alert alert-danger" *ngIf="msg != undefined">{{msg}}</div>
  <form #frm = 'ngForm' (ngSubmit)="cancel()">
    <div>Appointment ID</div>
    <div><input type="number" class="form-control" name="appointmentid" [(ngModel)]='appointment.appointmentId' readonly/></div>
         
      <div class="mt-2 text-center"><input type="submit" value="Cancel Appointment" [disabled]="!frm.valid" class="btn btn-danger"/></div>
                          
  </form>
</section>