<section class="col-4 mx-auto card card-primary m-1 p-1" id="addid">
  <div *ngIf="msg!=undefined" class="alert alert-success" [ngStyle]="{'background-color': this.msgflag?'green':'red','color':'yellow'}">{{msg}}</div>
  <form #frm="ngForm" (ngSubmit)="add()">

    
    <div class="fields text-start">Card Number</div>
    <div><input type="number" class="form-control" name="txtname" [(ngModel)]="bankdto.cardNumber" #cnumber="ngModel" required/></div>
    <div *ngIf="cnumber.invalid && cnumber.touched" class="alert alert-danger">Card Number is required</div>
     

    
    <div class="fields text-start">Bank Name</div>
    <div><input type="text" class="form-control" name="txtbank" [(ngModel)]="bankdto.bankName" #bname="ngModel" required/></div>
    <div *ngIf="bname.invalid && bname.touched" class="alert alert-danger">Bank Name is required</div>
  
      
      <div class="fields text-start">Card Name</div>
      <div><input type="text" class="form-control" name="txtcard" [(ngModel)]="bankdto.cardName" #cname="ngModel" required/></div>
      <div *ngIf="cname.invalid && cname.touched" class="alert alert-danger">
        <div *ngIf="cname.errors.required">Card Name is required</div>
      </div>

      <div class="fields text-start">Amount</div>
    <div><input type="number" class="form-control" name="txtamt" [(ngModel)]="bankdto.amount" #amt="ngModel" required/></div>
    <div *ngIf="amt.invalid && amt.touched" class="alert alert-danger">Amount is mandatory</div>


        <div class="fields text-start">Expiry Date</div>
        <div><input type="date" class="form-control" name="txt" [(ngModel)]="bankdto.expiryDate" #bdate="ngModel" required/></div>
        <div *ngIf="bdate.invalid && bdate.touched" class="alert alert-danger">
          <div *ngIf="bdate.errors.required">Expiry Date is required</div>
        </div>
          
          <div class="fields text-start">Cvv No</div>
          <div><input type="number" class="form-control" name="cvv" [(ngModel)]="bankdto.cvvNo" #bcvv="ngModel" required /></div>
          <div *ngIf="bcvv.invalid && bcvv.touched" class="alert alert-danger">
            <div *ngIf="bcvv.errors.required">Cvv No is required</div>
          </div>

            <div class="fields text-start">IFSC Code</div>
            <div><input type="text" class="form-control" name="ifsc" [(ngModel)]="bankdto.ifscNo" #bifsc="ngModel" required/></div>
            <div *ngIf="bifsc.invalid && bifsc.touched" class="alert alert-danger">
              <div *ngIf="bifsc.errors.required">IFSC code is required</div>
            </div>
    <input class="p-2 m-2" type="submit" value="Add Bank Account" [disabled]="!frm.valid"/>

  </form>
</section>