<!-- <article class="row col-10 mx-auto" [ngStyle]="{height:'200px'}">
  <section class="col-3 bg-info p-2 m-2">
    <div><input type="button" class="btn btn-warning m-2 w-80" value="View By Schedule Id" routerLink="/viewserviceschedule/byid"/></div>
    <div><input type="button" class="btn btn-warning m-2 w-80" value="View By Service Id" routerLink="/viewserviceschedule/byserviceid"/></div>
    <div><input type="button" class="btn btn-warning m-2 w-80" value="View All Schedules" routerLink="/viewserviceschedule/viewall"/></div>
  </section>
  <section class="col-6 p-2 m-2">
    <h2>View Salon Service Schedule</h2>
    <router-outlet></router-outlet>
  </section>
</article> -->
