<article class="row col-10 mx-auto" [ngStyle]="{height:'400px'}">
  <section class="col-3 bg-info p-2 m-2">
    <div><input type="button" class="btn btn-warning m-2 w-30" value="View By Customer ID" routerLink="/viewcustomer/bycustid"/></div>
    <div><input type="button" class="btn btn-warning m-2 w-30" value="View By Customer Name" routerLink="/viewcustomer/byname"/></div>
  </section>
  <section class="col-6 p-2 m-2">
    <h2>View Customer</h2>
    <router-outlet></router-outlet>
  </section>
</article>