<!-- <article class="row col-10 mx-auto" [ngStyle]="{height:'400px'}">
  <section class="col-3 bg-info p-2 m-2">
    <div><input type="button" class="btn btn-warning m-2 w-30" value="View By Customer ID" routerLink="/viewcustomer/bycustid"/></div>
    <div><input type="button" class="btn btn-warning m-2 w-30" value="View By Customer Name" routerLink="/viewcustomer/byname"/></div>
  </section>
  <section class="col-6 p-2 m-2">
    <h2>View Customer</h2>
    <router-outlet></router-outlet>
  </section>
</article> -->

<article>
  <h2 class="mx-auto text-center">Customer Details</h2>
  <nav class="col-5 bg-dark p-2 m-2 mx-auto" *ngIf="storageservice.loginflag">
      <a routerLink="/viewcustomer/bycustid" class="m-2 text-white" *ngIf="storageservice.role=='admin'">ViewCustomerById</a>
      <a routerLink="/viewcustomer/byname" class="m-2 text-white" *ngIf="storageservice.role=='admin'">ViewCustomerByName</a>
  </nav>
  <section class="col-6 p-2 m-2 mx-auto">
    <router-outlet></router-outlet>
  </section>
</article>